h1 {
    color: coral;
    text-align: center;
}
h2 {
    color: red;
    text-align: center;
    font-style: italic;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 40px;
}
body {
    background-color: cornsilk;
    
}
